$base-font-size: 15px;

$demo-label: #8C8C8C;

html, body {
  // Set base font size.
  font-size: $base-font-size;
}

$header-font-size: 1rem;
@for $i from 6 through 1 {
  h#{$i}.demo {
    @extend .lato-light;

    font-size: $header-font-size;

    color: darken($demo-label, 15%);
  }

  // Bump the font size by 130% for the next header.
  $header-font-size: $header-font-size * 1.3;
}

.demo-label {
  @extend .lato-light;

  font-size: 1rem;
  color: $demo-label;
}
