doctype html

mixin exampleSection(level, title, classes) 
  section(class=classes)
    #{'h' + level}.demo= title
    
    // Yield to block
    block

html
  head
    title Harvest UI Kit Demo
    
    link(rel='stylesheet', href='/css/styles.css')
  
  body
    section.intro
      h1.demo Harvest UI Kit Demo
    
    +exampleSection(2, 'Typography')
    
      +exampleSection(3, 'Headings')
        .label Heading 1
        h1 Tilde cliche Kickstarter paleo
        
        .label Heading 2
        h2 Tilde cliche Kickstarter paleo
        
        .label Heading 3
        h3 Tilde cliche Kickstarter paleo
        
        .label Heading 4
        h4 Tilde cliche Kickstarter paleo
        
        .label Heading 5
        h5 Tilde cliche Kickstarter paleo
        
        .label Heading 6
        h6 Tilde cliche Kickstarter paleo
      
      +exampleSection(3, 'Body Text')
        .label Body Text
        p 
          | VHS slow-carb normcore 8-bit, #[em chillwave kogi ] brunch lo-fi biodiesel XOXO listicle Kickstarter letterpress tote bag cold-pressed. Keffiyeh chia dreamcatcher XOXO single-origin coffee, raw denim sartorial pour-over bitters #[strong biodiesel kitsch ] vinyl blog Truffaut lumbersexual. Lumbersexual Bushwick four loko sartorial Banksy, polaroid lo-fi letterpress McSweeney's #[b Helvetica ] PBR. Cray Neutra #[i post-ironic ] Etsy, organic sustainable small batch locavore selvage church-key heirloom fixie sriracha.
        
        .label Small Text
        p.small-text
          | Bicycle rights Odd Future ugh pop-up, street art Williamsburg tote bag craft beer DIY Vice fashion axe gluten-free health goth asymmetrical irony. Food truck blog Pinterest, +1 Schlitz aesthetic cornhole fanny pack trust fund.
        
        .label Lead Text
        p.lead-text
          | Bicycle rights Odd Future ugh pop-up, street art Williamsburg tote bag craft beer DIY Vice fashion axe gluten-free health goth asymmetrical irony. Food truck blog Pinterest, +1 Schlitz aesthetic cornhole fanny pack trust fund.
        
        .label Quote Text
        blockquote
          | Bicycle rights Odd Future ugh pop-up, street art Williamsburg tote bag craft beer DIY Vice fashion axe gluten-free health goth asymmetrical irony. Food truck blog Pinterest, +1 Schlitz aesthetic cornhole fanny pack trust fund.
          cite Jason Cosper, Hipster Ipsum
      
      +exampleSection(3, 'Links')
        .label Default
        a(href='#0') Messenger bag gluten-free twee forage
        
        .label Primary
        a.primary(href='#0') Messenger bag gluten-free twee forage
        
        .label Secondary
        a.secondary(href='#0') Messenger bag gluten-free twee forage
    
      
    +exampleSection(2, 'Color Palette')
      .label Default
      ul.color-palette
        li.default-bg
          p Pure
          p #BD4932
        li.default-bg-hover
          p Hover
          p #CA6D5B
        li.default-bg-active
          p Active
          p #973A28
          
      .label Primary
      ul.color-palette
        li.primary-bg
          p Pure
          p #105B63
        li.primary-bg-hover
          p Hover
          p #3F7B82
        li.primary-bg-active
          p Active
          p #0C484F
      
      .label Secondary
      ul.color-palette
        li.secondary-bg
          p Pure
          p #DB9E36
        li.secondary-bg-hover
          p Hover
          p #E2B15E
        li.secondary-bg-active
          p Active
          p #AF7E2B
    
    +exampleSection(2, 'Buttons')
    
      +exampleSection(3, 'Small')
        button.btn.small Default
        
        button.btn.small.primary Primary
        
        button.btn.small.secondary Secondary 
      
      +exampleSection(3, 'Medium')
        button.btn Default
        
        button.btn.primary Primary
        
        button.btn.secondary Secondary 
    
      +exampleSection(3, 'Large')
        button.btn.large Default
        
        button.btn.large.primary Primary
        
        button.btn.large.secondary Secondary 
      
      +exampleSection(3, 'Disabled')
        button.btn.disabled Default
        
        button.btn.primary.disabled Primary
        
        button.btn.secondary.disabled Secondary 
    
    
    +exampleSection(2, 'Inputs')
    
      +exampleSection(3, 'Text')
        .label Empty
        input(type='text', placeholder='Placeholder')
          
        .label Filled
        input(type='text', placeholder='Name', value='George Washington')
          
        .label Error
        input.error(type='email', placeholder='Email', value='invalid@email')
          
        .label Disabled
        input.disabled(type='text', placeholder='Name', value='George Washington')
      
      +exampleSection(3, 'Controls')
        .label Checkboxes
        label
          input(type='checkbox')
          | Unchecked
            
        label
          input(type='checkbox', checked)
          | Checked
            
        label
          input(type='checkbox', disabled)
          | Unchecked, disabled
            
        label
          input(type='checkbox', disabled, checked)
          | Checked, disabled
            
        .label Radio Buttons
        label
          input(type='radio', name='radios1')
          | Off
            
        label
          input(type='radio', name='radios1', checked)
          | On
            
        label
          input(type='radio', name='radios2', disabled)
          | Unchecked, disabled
            
        label
          input(type='radio', name='radios2', disabled, checked)
          | Checked, disabled
        
      +exampleSection(3, 'Dropdowns')
        button.dropdown
          ul
            li Action 1
            li Action 2
            li Action 3
        
        button.select
          ul
            li.selected Option 1
            li Option 2
            li Option 3
      
      +exampleSection(3, 'Tags')
        .tags-input
          .tag Tag One
          .tag Tag One
          .tag Tag One
          input(type='text')
    
      
    +exampleSection(2, 'Navigation Bars')
    
    
    +exampleSection(2, 'Demos')
    
    
    
    
